@media screen and (max-width: 1024px) {
  /* body {
    background-color: #ffcece99;
  } */


  .col-lg-50 {
    width: 50%;
  }

  .col-lg-30 {
    width: 30%;
  }

  .col-lg-17 {
    width: 17.5%;
  }

  .col-lg-15 {
    width: 15%;
  }

  .col-lg-75 {
    width: 75%;
  }

  .col-lg-25 {
    width: 25%;
  }

  .col-lg-100 {
    width: 100%;
  }


  input[type="url"] {
    padding: 24px 0 24px 15%;
  }

  .input-wrapper,
  .actions {
    flex: 1 1 100%;
  }

  .featuresDetails li {
    flex: 1 1 20%;
  }

  .need-card figure {
    height: 80px;
    width: 80px;
  }

  .need-card {
    padding: 50px;
  }

  .footerWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .footerWrapper input[type="email"] {
    padding: 10px 0px 10px 16px;
    border-radius: 15px;

  }

  .footerWrapper input[type="submit"] {
    font-size: 13px;
    padding: 10px 16px;
    border-radius: 15px;
    position: static;
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }

  .actions {
    margin-top: 8px;
  }
}

/* ----------------------------------------------------- md.Tablet ---*/
/* 768px */
@media screen and (max-width: 991px) {
  /* body {
    background-color: rgb(176, 176, 176);
  } */

  .bannerRow {
    padding-top: 20px;
  }

  .col-md-100 {
    width: 100%;
  }

  .col-md-50 {
    width: 50%;
  }

  .col-md-33 {
    width: 33.33%;
  }

  .col-md-25 {
    width: 25%;
  }

  .mb-md-16 {
    margin-bottom: 16px;
  }

  .text-align-center {
    text-align: center;
  }

  .text-align-left {
    text-align: left;
  }

  .text-align-right {
    text-align: right;
  }
    .navList, 
    .navButton{
        display: none;
    }
    .navToogler {
        display: block;
    }
    .dropdown-menu{
        display: block;
    }

  form {
    flex-direction: column;
    align-items: stretch;
  }

  .input-wrapper,
  .actions {
    flex: 1 1 100%;
  }

  .featuresDetails li {
    flex: 1 1 50%;
  }

  .companies p {
    font-size: 19px;
    margin-bottom: 40px;
  }

  .actions {
    margin-top: 10px;
  }

  input[type="submit"] {
    font-size: 16px;
    line-height: 28px;
    padding: 14px 16px;
  }

  label[for="fileUpload"] {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 17px 16px;
  }

  .sassVideoExp .row .col figure {
    padding: 10px 0;
  }

  .need-card h3 {
    font-size: 14px;
  }

  .need-card figure {
    height: 50px;
    width: 50px;
  }

  .need-card {
    padding: 20px;
  }

  .automation-setup h3 {
    font-size: 28px;
    text-align: center;
    max-width: 100%;
  }

  .automation-setup p {
    max-width: 100%;
    text-align: center;
  }

  .automationForm {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }


  .automationList {
    max-width: 100%;
  }

  .automationList li {
    margin: 25px;
  }

  .automationList li a {
    font-size: 18px;
    line-height: 18px;
    padding: 12px 0;
  }

  .automation-setup hr {
    width: 90%;
  }

  .related-themes .row {
    flex-direction: column;
  }

  .related-themes .col {
    width: auto;
  }

  .related-themes p {
    padding: 12px 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .similar-templates p {
    padding: 30px 0;
    font-size: 22px;
  }

  .questionsList h3 {
    font-size: 28px;
    line-height: 1;
    padding: 40px 0;
  }

  .icon {
    height: 40px;
    width: 40px;
  }

  .questionsList li i {
    font-size: 13px;
  }

  .user-grid {
    margin: 16px 0;
    padding: 32px;
  }

  .main {
    width: 152px;
  }

  .left01,
  .right01 {
    width: 132px;
  }

  .left02,
  .right02 {
    width: 112px;
  }

  .left03,
  .right03 {
    width: 102px;
  }

  .free-sass-video .row figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .free-sass-video h2 {
    max-width: 100%;
  }

  .free-sass-video {
    background: linear-gradient(to right, #FF822C99 0%, #F97316ff 75%);
  }

  .footer-heading {
    margin: 0 auto;
  }

  .footer select {
    float: right;
  }

  .footer .socials {
    justify-content: center;
  }

  .md-text-center {
    text-align: center;
  }
}

/* ----------------------------------------------------- sm.Mobile ---*/
/* 425px */
@media screen and (max-width: 576px) {
  /* body {
    background-color: rgb(207, 207, 207);
  } */

  .col-sm-100 {
    width: 100%;
  }

  .col-sm-25 {
    width: 25%;
  }

  .col-sm-50 {
    width: 50%;
  }

  .col-sm-33 {
    width: 33.33%;
  }
    .dropdown-menu{
        left: 32px;
        width: unset;
    }

  form {
    flex-direction: column;
  }

  .input-wrapper,
  .actions {
    flex: 1 1 100%;
  }

  .actions {
    margin-top: 10px;
  }

  input[type="submit"],
  label[for="fileUpload"] {
    width: 100%;
    text-align: center;
  }

  .companies p {
    font-size: 13px;
    margin-bottom: 35px;
  }

  .sass-btn {
    font-size: 16px;
    line-height: 50px;
    padding: 4px 20px;
  }

  .need-card {
    margin: 10px 0;
  }

  .formList-interaction {
    max-width: 100%;
  }

  .automationList li {
    margin: 15px;
  }

  .automationList li a {
    font-size: 16px;
    line-height: 1;
    padding: 12px 0;
  }

  .similar-templates p {
    padding: 20px 0;
    font-size: 18px;
  }

  .questionsList h3 {
    font-size: 16px;
    line-height: 1;
    padding: 30px 0;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .questionsList li i {
    font-size: 10px;
  }

  .main {
    width: 102px;
  }

  .left01,
  .right01 {
    width: 82px;
  }

  .left02,
  .right02 {
    width: 62px;
  }

  .left03,
  .right03 {
    width: 56px;
  }
}