@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ==============================
font-family: "Roboto", sans-serif;
font-family: "Manrope", sans-serif;
font-family: "Inter", sans-serif;
font-family: "Noto Sans", sans-serif; 
font-family: "Poppins", sans-serif;
================================= */
@font-face {
  font-family: "Noto Sans Semi-Condensed";
  src: url("../fonts/noto-sans-semicondensed.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url('../fonts/gilroy/Gilroy-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.b {
  border: 1px solid black;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-padding {
  padding: 32px 0;
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
}

.col {
  width: 14%;
}

/* companies section */
.col-12 {
  width: 12%;
}

.col-16 {
  width: 16.66%;
}

.col-20 {
  width: 20%;
}

/* saasVideoFree section */
.col-25 {
  width: 25%;
}

.col-25A {
  width: 25.1%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.33%;
}

.col-34 {
  width: 34%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-75 {
  width: 75%;
}

/* ==================== Navbar ==================== */
/* -------------- NAVBAR */

.navbar {
    position: relative;
    padding: 8px 4px;
    height: 60px;
}

nav,
.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo a {
    width: 160px;
}

.navList li {
    margin-right: 40px;
}
.navList li a, .menu-li {
  color: #000000;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.navToogler {
    font-size: 32px;
    color: #f97316;
    cursor: pointer;
    display: none;
}


/* -------------------- navbar-button */
.navbar-button {
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: scale .2 ease-in-out;
}

.navButton a:nth-of-type(1), .primary {
    background-color: #fff;
    color: #000000;
}

.navButton a:nth-of-type(2), .secondary {
    background-color: #f97316;
    color: #fff;
}
.navbar-button:hover{
    scale: 1.05;
    color: #fff;
}
.navbar-button:active{
    scale: 0.95;
}


/* -------------------------- drop-down */
.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 85%;
    left: 70%;
    min-width: 100px;
    background-color: #f97316;
    width: 100%;
    padding: 6px 12px;
    display: none;
}

.dropdown-content ul li {
    margin-left: 0px;
    padding: 4px;
}

.dropdown-content ul li a {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ------- dropdown-menu  */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    height: 0;
    right: 32px;
    width: 300px;
    background-color: #f973161A;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: auto;
}
.dropdown-menu li{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-menu .navbar-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ==================== Banner ==================== */

.banner {
  height: (100vh - 60px);
  /* min-height: 400px; */
  padding: 40px 20px;
  /* height: auto; */
}

.bannerRow {
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.08px;
}

.bannerRow p {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 22px;
}

form {
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  position: relative;
  flex: 0 0 60%;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 40%;
}

.input-wrapper span {
  position: absolute;
  left: 4%;
  top: 47%;
  transform: translateY(-50%);
}

input[type="url"] {
  width: 100%;
  padding: 24px 0 24px 10%;
  border-radius: 10px;
  border: 1px solid #C2BCBC57;
}

input[type="url"]::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #999999;
}

input[type="submit"] {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding: 20px 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #F97316;
  border: none;
}

form span:nth-of-type(2) {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6383A6;
}

label[for="fileUpload"] {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 23px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #F97316;
  border: 1px solid #F97316;
}

/* ------------------------------------------- features ---- */

.features {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.features li {
  flex: 1 1 166px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.48px;
  color: #757095;
}

.features li::before {
  content: url('../images/orange\ tick.png');
  left: -20px;
  top: 0;
  padding-right: 4px;
}

.featuresDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 43px;
}

.featuresDetails li {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  /* flex: 1 1 45%; */
  flex: 1 1 1;
  margin-bottom: 10px;
}

.featuresDetails li::before {
  padding-right: 4px;
}

.featuresDetails li:nth-of-type(1)::before {
  content: url('../images/menu.png');
}

.featuresDetails li:nth-of-type(2)::before {
  content: url('../images/orange\ text.png');

}

.featuresDetails li:nth-of-type(3)::before {
  content: url('../images/orange\ media.png');

}

.featuresDetails li:nth-of-type(4)::before {
  content: url('../images/template.png');
}

/* ------------------------------------------- companies ---- */
.text-center {
  text-align: center;
}

.companies p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 44px;
}

figure {
  overflow: hidden;
}

/* ------------------------------------------- sassVideoFree ---- */
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}

h2 span {
  color: #ff822c;
}

.sassVideoExp {
  margin-top: 40px;
}

.sassVideoExp .row .col figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sass-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.sass-btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 56px;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 25px;
  background-color: #ff822c;
  border-radius: 20px;
}

/* ==================== sass Video Needs ====================  */
.needCards {
  margin-top: 48px;
}

.need-card {
  text-align: center;
  padding: 76px;
  background-color: #ff822c21;
}

.need-card figure {
  overflow: hidden;
  height: 125px;
  width: 125px;
  margin: 0 auto;
}

.need-card h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.need-card p {
  max-width: 310px;
  width: 100%;
  font-size: 15px;
  margin: 0 auto;
}

/* ==================== Automation Setup ====================  */
.automationForm {
  max-width: 464px;
  width: 100%;
}

.automationList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.automationList li {
  margin-right: 89px;
}

.automationList li a {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  color: #000000;
  padding: 16px 0;
  border-bottom: 4px solid transparent;
  transition: border-color 0.5s ease-in-out;
}

.automationList li a:hover {
  border-bottom: 4px solid #000000;
  width: 100%;
  border-bottom-color: #000000;
}

.automation-setup hr {
  height: 1px;
  color: #000000;
  width: 60%;
}

.automation-setup h3 {
  max-width: 487px;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.32px;
  color: #1d1d20;
  margin: 28px 0;
}

.automation-setup p {
  max-width: 550px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #5e5e6b;
  margin-bottom: 40px;
}

.automation-setup input,
.automation-setup textarea,
.automation-setup select {
  width: 100%;
  padding: 8px 16px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.formList,
.formList-interaction {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  max-width: 550px;
  font-size: 16px;
  width: 100%;
  /* margin: 16px 0; */
  padding: 16px 0;
  border-bottom: 1px solid #d9d9de40;
  /* gap: 10px; */
}

.formList li {
  margin-right: 12px;
}

.formList select,
.formList input {
  /* margin-bottom: 0; */
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  padding: 8px 0px 8px 8px;
  box-sizing: border-box;
}

.formList select {
  line-height: 12px;
  color: #1d1d20;
}

.formList input {
  border-color: #ff822c66;
}

.formList input::placeholder {
  font-size: 12px;
  color: #ff822c66;
}

.formList-interaction select {
  width: 147px;
}

.formList-interaction select {
  font-size: 12px;
}

.rule-btn {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  background-color: #ff822c66;
  color: #ff822c;
  border-radius: 5.76px;
}

.if {
  padding: 8px 16px;
}

.else {
  padding: 8px 32px;
}

.formList-interaction li {
  margin-right: 8px;
}

/* ==================== Filter Menu ====================  */


#filter {
  border: none;
  border-bottom: 1px solid #1d1d2014;
  border-radius: 0%;
  background-color: #f7f7f880;
  padding: 14px 16px;
  outline: none;
}

#filter::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  color: #b9bac0;
  font-weight: 400;
}

.filter-menu {
  border-bottom: 1px solid #1d1d2014;
  padding: 16px 0;
}

.filter-menu figure {
  overflow: hidden;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.filter-menu li a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.filter-menu li a:hover {
  background-color: #ff822c99;
}

.filter-menu li a:hover span {
  color: #ffffff;
}

.filter-menu li.active a {
  background-color: #ff822c99;
}

.filter-menu li.active a span {
  color: #ffffff;
}

.filter-menu li.active a:hover {
  background-color: #ff822ccc;
}

.filter-menu li.active a:hover span {
  color: #ffffff;
}

.filter-menu li a img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) hue-rotate(0deg);
  transition: filter 0.3s ease-in-out;
  /* Smooth color transition */
}

/* Change icon to white on hover and active states */
.filter-menu li a:hover img,
.filter-menu li.active img {
  filter: brightness(0) invert(1);
  /* Turns icon white */
}

.filter-menu li a span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #1d1d20;
}

.b-none {
  border-bottom: none;
}

.social {
  padding: 18px 12px;
}

.social span {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  text-align: start;
  display: block;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
}

.social-icons a i {
  color: black;
  font-size: 24px;
}

.social li {
  margin-right: 20px;
}

/* ==================== Related Themes ====================  */

.related-themes .container {
  max-width: 950px;
  width: 100%;
}

.related-themes .row {
  justify-content: center;
  margin: 24px 0;
}

.related-themes .col {
  margin: 10px 0;
  overflow: hidden;
}

.related-themes p {
  padding: 20px 13px;
  background-color: #ffffff;
  border: 1px solid #ff822c;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.related-themes h2 {
  margin-bottom: 22px;
}


#rsColorInvert {
  color: #ffffff;
  background-color: #ff822c;
}

.related-themes .container>.themeCardRow:nth-of-type(3) .themeCard {
  margin-top: 24 px;
}

/* ==================== Similar Templates ====================  */

.similar-templates h2 {
  margin-bottom: 32px;
}

.similar-templates a {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.similar-templates p {
  margin-left: auto;
  padding: 60px 0;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

/* ==================== Frequently-asked-question ====================  */
.frequently-asked-question .container {
  max-width: 1137px;
  width: 100%;
}

.frequently-asked-question p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #707070;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.questionsList {
  margin: 0 auto;
}

.questionsList h3 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 46px;
  padding: 54px 0;
}

.questionsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dedede;
}

.icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.questionsList li i {
  font-size: 16px;
  color: #786f77;
}

/* ==================== User Reviews ====================  */

.user-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 16px 0;
  padding: 16px;
}

.left01,
.left02,
.left03,
.right01,
.right02,
.right03 {
  position: absolute;
  z-index: -1;
}

.main {
  width: 215px;
}

.left01 {
  width: 152px;
  translate: -85% 15%;
}

.right01 {
  width: 152px;
  translate: 85% 15%;
}

.left02 {
  width: 132px;
  translate: -185% 25%;
}

.right02 {
  width: 132px;
  translate: 185% 25%;
  z-index: -2;
}

.left03 {
  width: 122px;
  z-index: -3;
  translate: -275% 35%;
}

.right03 {
  width: 122px;
  translate: 275% 35%;
  z-index: -3;
}

/* ==================== Free Saas Video ====================  */

.free-sass-video {
  /* background: url("../images/free-sass-video-background.png");*/
  background: linear-gradient(to right, #FF822C66 0%, #F97316ff 75%);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.free-sass-video .row {
  align-items: center;
  justify-content: center;
}

.free-sass-video .container {
  max-width: 1137px;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.free-sass-video h2 {
  font-size: 30.4px;
  line-height: 46px;
  font-weight: 700;
  color: #ffffff;
  max-width: 475px;
  text-align: start;
}

.free-sass-video a {
  padding: 12px 28px 14px 28px;
  background-color: #ffffff;
  border-radius: 10px;
  /* width: 260px; */
  color: #ff822c;
  font-size: 16px;
  font-weight: 700;
  margin-top: 53px;

}

.free-sass-content {
  padding-bottom: 32px;
}

.free-sass-video .row figure {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ==================== Footer ====================  */

.footer {
  padding: 100px 0;
  font-family: "Roboto", sans-serif;
}

.footer-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  max-width: 300px;
  /* width: 100%; */
  color: #19203380;
  margin-bottom: 100px;
}

.footer select {
  border: none;
  max-width: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #1a1b1c;
  outline: none;
}

.footer .socials {
  display: flex;
  justify-content: flex-start;
  margin: 32px 0;
}

.footer .socials a {
  margin-right: 16px;
  padding: 0 8px;
  font-size: 24px;
}

.footer .socials a:nth-of-type(1) {
  color: #ff0000;
}

.footer .socials a:nth-of-type(2) {
  color: #1873eb;
}

.footer .socials a:nth-of-type(3) {
  color: #000000;
}

.footer .socials a:nth-of-type(4) {
  color: #0366c3;
}

.footer-subheading {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #1a1b1c;
}

.footerList li {
  margin: 11px 0;
}

.footerList li a {
  font-size: 15px;
  color: #1a1b1c;
  line-height: 22px;
  font-weight: 400;
}

.footerWrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

}

.footerWrapper input[type="email"] {
  padding: 19px 0px 19px 16px;
  border-radius: 20px;
  width: 100%;
  border: none;
  border: 1px solid #FF822C;
}

.footerWrapper input[type="email"]::placeholder {
  color: #000000A6;
}

.footerWrapper input[type="submit"] {
  position: absolute;
  right: 0;
  max-width: 153px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  padding: 16px 32px;
  background-color: #ff822c;
  border: none;
  border-radius: 20px;
}